@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: normal;
    src: url(../assets/fonts/segoe-ui-4-cufonfonts/Segoe\ UI.ttf) format('ttf');
}

@font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/segoe-ui-4-cufonfonts/Segoe\ UI\ Bold.ttf) format('ttf');
}