@use "scss/design-tokens";
@use "scss/normalice";
@use "scss/primitive-elements";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 7rem;
    
    
}

.header-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .nav-menu-list {
        display: flex;

        li {
            margin-left: 2rem;
        }
    }

    .nav-icon {
        display: none;
    }


}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 4rem;
      

    .main-article { 
        grid-column: 1/3;   
        grid-row: 1/3; 
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;          
        
        .main-image {
            grid-column: 1/3;
            grid-row: 1;
            max-width: 100%;
            background-image: url(assets/images/image-web-3-desktop.jpg);
            background-size: cover;
            background-position: center;
        }    
        
        .main-title {
            grid-column: 1;
            grid-row: 2;
            line-height: 1;
            margin-top: 1rem;
        }

        .main-body-container {
            grid-column: 2;
            grid-row: 2;
            
            display: flex;
            flex-direction: column;
            align-items: flex-start; 
            
            margin-top: 1rem;

        }

        .main-button {
            background-color: var(--clr-bg-btn-primary);
            color: var(--clr-bg-body);
            text-transform: uppercase;
            padding: 1em 2.5em;
            border: none;
            letter-spacing: 0.3rem;
            font-weight: 700;

            &:hover.main-button {
                background-color: var(--clr-text-link-active);
            }
        
        }
       
    }
    
    .new-container {
        grid-column: 3;
        grid-row: 1 / 3;
        background-color: var(--clr-bg-content);
        color: var(--clr-bg-body);
        padding: 1.5rem;
        
        .new-title {
            color: var(--clr-text-link-active);
            margin-bottom: 2rem;
        }

        .new-article-title {
            margin-bottom: 1rem;
        }

        .new-article-body {
            margin-bottom: 2rem;
            color: var(--clr-text-numbers);
        }

        .divider {
            background-color: var(--clr-text-link-active);
            height: 0.1px;
            margin-bottom: 2rem;
        }

    }

    .bottom-articles-container {
        grid-column: 1 / 4;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin-top: 2rem ;
        
        .bottom-article {
            display: flex;
            align-items: center;
            gap: 0.9rem;

            .bottom-articles-title {
                margin-bottom: 0.5rem;
            }
            
            img {
                max-width: 25%;
                
            }

            mark {
                font-weight: 700;
                font-size: 2rem;
                color: var(--clr-text-numbers);
            }
            
        }

    }
}

@media (max-width:750px) {
    
    .body-container {
        margin: 3rem 2rem;
    }

    .nav-menu {
        display: none;
    }

    .header-container .nav-icon {
        display: block;
    }
    
    .main-container {
        display: block;

        .main-article {
            display: block;
            margin-bottom: 1rem;            
        }

        .main-title {
            display: block;
        }

        .main-body-container {
            display: block;
        }

        .main-image {
            display: block;
            width: 100%;
            height: 15rem;
            background-image: url(assets/images/image-web-3-desktop.jpg);
            background-size: cover;
            background-position: center;
        }

        .bottom-articles-container {
            display: block;

            .bottom-article {
                margin-bottom: 2rem;
            }            
        }

    }   
    
}