@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --clr-text-link-active: hsl(35, 77%, 62%);
  --clr-bg-btn-primary: hsl(5, 85%, 63%);
  --clr-bg-body: hsl(36, 100%, 99%);
  --clr-text-numbers: hsl(233, 8%, 79%);
  --clr-text-body: hsl(236, 13%, 42%);
  --clr-bg-content: hsl(240, 100%, 5%);
  --ff-primary: "Inter", sans-serif;
  --fs-body: 1rem;
  --fs-article-title: 2rem;
  --fs-main-title: 3rem;
  --fw-body: 400;
  --fw-article-title: 700;
  --fw-main-title: 800;
  --space-8: 0.5rem;
  --space-16: 1rem;
  --space-32: 2rem;
  --space-40: 3rem;
  --space-48: 4rem;
  --space-56: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background-color: var(--clr-bg-body);
  line-height: 1.5;
}

b,
strong {
  font-weight: 700;
}

h1 {
  font-size: var(--fs-main-title);
  font-weight: var(--fw-main-title);
}

h2 {
  font-size: var(--fs-article-title);
  font-weight: var(--fw-article-title);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-main-title);
}

p {
  margin: 0 0 0.75rem;
  font-size: var(--fs-body);
  color: var(--clr-text-body);
}

a {
  color: var(--clr-text-body);
  text-decoration: none;
}
a:focus-visible {
  outline: solid 2px var(--clr-text-body);
}
a:hover {
  color: var(--clr-text-link-active);
}

li {
  list-style-type: none;
}

mark {
  background-color: transparent;
  font-style: normal;
  text-decoration: none;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 5rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.header-container .nav-menu {
  display: flex;
}
.header-container .nav-menu li {
  margin-left: 2rem;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 4rem;
}
.main-container .main-article {
  grid-column: 1/3;
  grid-row: 1/3;
}
.main-container .main-article img {
  grid-column: 1/3;
  grid-row: 1;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container .main-article .main-body-container {
  display: flex;
  flex-direction: row;
}
.main-container .main-article .main-button {
  background-color: var(--clr-bg-btn-primary);
  color: var(--clr-bg-body);
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
.main-container .new-container {
  grid-column: 3;
  grid-row: 1/3;
  background-color: var(--clr-bg-content);
  color: var(--clr-bg-body);
  padding: 1.5rem;
}
.main-container .new-container .new-title {
  color: var(--clr-text-link-active);
  margin-bottom: 2rem;
}
.main-container .new-container .new-article-title {
  margin-bottom: 1rem;
}
.main-container .new-container .new-article-body {
  margin-bottom: 2rem;
  color: var(--clr-text-numbers);
}
.main-container .new-container .divider {
  background-color: var(--clr-text-link-active);
  height: 0.1px;
  margin-bottom: 2rem;
}
.main-container .bottom-articles-container {
  grid-column: 1/4;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.main-container .bottom-articles-container .bottom-article {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.main-container .bottom-articles-container .bottom-article img {
  max-width: 25%;
}
.main-container .bottom-articles-container .bottom-article mark {
  font-weight: 800;
  font-size: 2rem;
  color: var(--clr-text-numbers);
}/*# sourceMappingURL=main.css.map */