@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {

    --clr-bg-section: hsl(256, 26%, 20%);
    --clr-bg-icon: hsl(216, 30%, 68%);
    
    --clr-neutral-section-gradient: hsl(270, 9%, 17%);
    --clr-neutral-text02: hsl(273, 4%, 51%);
    --clr-neutral-divider: hsl(0, 14%, 95%);
    --clr-neutral-bg: hsl(0, 0%, 98%);

    --fs-body: 20px;
    --ff-headings: "DM Serif Display", serif;
    --fw-headings: 400;
    --ff-body: "Karla", sans-serif;
    --fw-body-regular: 400;
    --fw-body-bold: 700

}

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
    font-family: var(--ff-body);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    height: 5rem;
    padding: 3rem 10rem;
}

.logo {
    height: 2rem;
}

.navlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.navlist li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-neutral-text02);
    margin-inline: 1.5rem;
    font-weight: var(--fw-body-bold);
}

.open-menu,
.close-menu {
    display: none;
}


[class*="button"] {
    border: 2px solid var(--clr-neutral-section-gradient);
    text-transform: uppercase;
    font-family: var(--ff-body);
    font-weight: var(--fw-body-bold);
    background-color: transparent;
    padding: .7rem 1.5rem;
    letter-spacing: .2rem;
}

[class*="heading"] {
    font-family: var(--ff-headings);
    font-size: 5rem;
    color: white;
    font-weight: var(--fw-headings);
    line-height: 5rem;
    margin-bottom: 2rem;
}

[class*="body"] {
    font-size: var(--fs-body);
    font-weight: var(--fw-body-regular);
    color: var(--clr-neutral-bg);
    line-height: 2rem;
    margin-bottom: 2rem;
}


/* HERO */

.hero {
    background-color: var(--clr-bg-section);
    padding: 5rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    
}

.hero-divider,
.weare-divider {
    color: var(--clr-neutral-bg);
    width: 8rem;
    margin-bottom: 2rem;
}

.hero-body {
    max-width: 60ch;    
}

.hero-button {
    color: var(--clr-neutral-bg);
    border: solid 1px var(--clr-neutral-bg);
}

.hero-image {
    margin-bottom: -14rem;
    object-fit: cover;
    float: right;
}

.hero-image-mobile {
    display: none;
}

.pattern-right {
    position: absolute;
    right: 0;
    z-index: 1;
    height: 90%;
}

.pattern-left {
    position: absolute;
    left: 0;
    bottom: -300px;
}

.pattern-left-mobile {
    display: none;
}

.pattern-right-mobile {
    display: none;
}

/* WE ARE */

.weare {
    padding: 5rem 10rem;
    margin-top: 10rem;
    color: var(--clr-bg-section);
}

.weare-heading {
    color: var(--clr-bg-section);
    margin-bottom: 4rem;
}

.weare-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.weare img {
    margin-bottom: 1rem;
}

.weare-item-title {
    font-family: var(--ff-headings);
    font-weight: var(--fw-headings);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.weare-item-body {
    color: var(--clr-bg-section)
}

/* CTA */

.cta {
    background-color: var(--clr-bg-section);
    background-image: url(images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding: 4rem 5rem;
    margin: 0 10rem 5rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-button {
    color: var(--clr-neutral-bg);
    border: solid 1px var(--clr-neutral-bg)
}

.cta-heading {
    margin-bottom: 0;
}

/* FOOTER */

footer {
    background-color: var(--clr-neutral-bg);
    background-image: url(images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    padding: 5rem 10rem;
}

.footer-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-divider {
    width: 100%;
    border-color: var(--clr-neutral-divider);
    margin-bottom: 3rem;
    
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.column-title {
    color: var(--clr-neutral-text02);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.footer-column a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--fw-body-bold);
    line-height: 2rem;
    margin-left: 0;
    color: var(--clr-bg-section);
}


.nav-button:hover {
    background-color: var(--clr-bg-section);
    color: var(--clr-neutral-bg)
}

.hero-button:hover,
.cta-button:hover {
    background-color: white;
    color: var(--clr-bg-section)
}

.navlist li a:hover {
color: var(--clr-bg-section)
}


/* MEDIA QUERIS */

@media screen and (max-width:950px) {
    .open-menu
    .close-menu {
        display: block;
    }

    .navmenu {
        opacity: 0;
        display: hidden;
    }

    .navmenu  {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--clr-bg-section);
        padding: 2rem;
        z-index: 100;
        bottom: 0;
    }

    .navlist {
        flex-direction: column;
        align-items: end;
        gap: 1rem        
    }

    .navlist li a {
        margin-inline: 0;        
    }

    header {
        padding-inline: 4rem;
        position: relative;
    }

    .hero {
        display: block;
        text-align: center;
        padding-inline: 2rem;
    }

    .hero-image-mobile {
        display: block;
        width: 100%;
    }

    .hero-divider {
        display: none 
    }

    .hero-heading {
        font-size: 4rem;
        line-height: 4rem;
    }

    .pattern-left-mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .pattern-right-mobile {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .hero-image, 
    .pattern-left,
    .pattern-right {
        display: none;
    }

    .weare-items,
    .weare-heading,
    .weare-divider {
        display: block;
        text-align: center;
    }

    .cta {
        display: block;
        margin-inline: 2rem;
        text-align: center;
    }

    .cta-heading {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }

    .footer-links,
    .footer-heading {
        display: block;
        text-align: center;
    }

}