:root {
    --ff-sans: 'Poppins', sans-serif;
    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;

    --fs-400: 0.9275rem;
    --fs-500: 1.5rem;
    --fs-600: 1.625rem;
    --fs-900: 2.5rem;

    --clr-neutral-900: hsl(234, 12%, 34%);
    --clr-neutral-400: hsl(229, 6%, 66%);
    --clr-neutral-100: hsl(0, 0%, 98%);

    --clr-red: hsl(0, 78%, 62%);
    --clr-teal: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: var(--ff-sans);
    font-weight: var(--fw-normal);
    line-height: 1.7;
    color: var(--clr-neutral-900);
}

body {
    margin: 0;
    padding-block-end: 5rem
}

h1,
h2,
h3 {
    line-height: 1.2;
    color: var(--clr-neutral-900);
}

.wrapper {
    padding-inline: 2rem;
    max-width: 1280px;
    margin-inline: auto;
}

.wrapper-narrow {
    max-width: 550px;
}

header {
    text-align: center;
    margin-block: 6rem;
}

h1 {
    font-weight: var(--fw-light);
    font-size: var(--fs-900);
}

h1 span {
    font-weight: var(--fw-bold);
}

header > p {
    font-size: var(--fs-500);
}

.layout-grid {
    --gap:2rem;
    display: flex;
    gap: var(--gap)
}
    
@media (max-width: 767px) {
    .layout-grid {
     flex-direction: column;
    }
}

.layout-grid > * {
    flex: 1;
}

.col {
    display: grid;
    gap: var(--gap);
    align-items: center
}

.card {
    --br: 0.325rem;
    padding: 2rem;
    border-top: var(--br) solid;
    border-radius: var(--br);
    box-shadow: 0 0.5rem 1rem -0.5rem rgb(0 50 100 / 0.5);
}

.card__title {
    font-size: var(--fs-600);
    margin: 0;
}

.card__img {
    display: block;
    margin-left: auto;
    margin-top: 1.5rem;
}

.border-teal {
    border-color: var(--clr-teal);
}
.border-red {
    border-color: var(--clr-red);
}
.border-orange {
    border-color: var(--clr-orange);
}
.border-blue {
    border-color: var(--clr-blue);
}
