
@media screen and (max-width: 500px) {
 
    body {
        margin: auto;
        text-align: center;
    }

    .hero-section {
        display: block;
    
        .btn-container {
            display: block;
        }

    }


}