
html {
    // height: 100dvh;
    scroll-behavior: smooth;
}

body {
     
    font-family: "Bai Jamjuree", sans-serif;
    
    line-height: var(--base-line-height);
    
    color: var(--clr-neutral-dark);

    margin-top: 5rem;

    text-align: center;

    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
                    
    overflow-x: hidden;
    overflow-y: auto !important;
    overscroll-behavior-y: contain;

    /* //----------------------------------------------------
    // optimize font rendering */
    -webkit-text-size-adjust: 100%;

    /* //----------------------------------------------------
    // optimize font smoothing
    // antialiased */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* // subpixel-antialiased
    // -webkit-font-smoothing: subpixel-antialiased;
    // -moz-osx-font-smoothing: auto; */

    /* //----------------------------------------------------
    // speed up scrolling */
    -webkit-overflow-scrolling: touch;

    /* //----------------------------------------------------
    // disable webkit tap highlight */
    -webkit-tap-highlight-color: transparent;
}
