@use "scss/typography";
@use "scss/normalice";
@use "scss/root-html-body";
@use "scss/mediaqueries";

@import "scss/mixins";

.hero-section {
    @include flex-column-center;
    margin-bottom: 5rem;

    img {
        max-width: 7rem;
        margin-bottom: 2rem;
    }

    title {
        margin-bottom: 1rem;        
    }

    .body {
        margin-bottom: 2rem;
        max-width: 65ch;        
    }    

    .btn-container {
        @include flex-row-center;

        .btn-primary {
            max-width: 15rem;
            padding: 0.8rem 3rem;
            background-color: var(--clr-primary);
            border-radius: 4rem;
            color: white;
            box-shadow: 0 2 0 12px rgba(var(--clr-primary), 0.5);
        }

        .btn-secondary {
            max-width: 15rem;
            padding: 0.8rem 3rem;
            background-color: var(--clr-secondary);
            border-radius: 4rem;
            color: white;
            box-shadow: 0 2 0 12px rgba(var(--clr-primary), 0.5);
            margin-left: 1rem;
        }

    }

}

.features-section {    
    margin-bottom: 5rem;
    
    .text-container {
        @include flex-column-center;
        // align-items: center;               
        margin-bottom: 3rem;

        h2 {
            margin-bottom: 1rem;
        }

        p {
            max-width: 65ch;                        
        }

    }

    .img-items-container {        
        // display: flex;
        // flex-direction: row; 
        // align-items: center; 
        @include flex-row-center;
        text-align: left;      
        
        .items-container {
            margin-left: 5rem;
            
            h3 {
                font-weight: 700;
                margin-bottom: 0.5rem;
            }

            p {
                max-width: 40ch;
                margin-bottom: 2rem;
                
            }

        }

    }

}

.access-section {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    @include flex-column-center;               
    margin-bottom: 3rem;

    h2 {
        margin-bottom: 1rem;
    }

    p {
        max-width: 65ch;  
        margin-bottom: 2rem;           
    }
}

.superchange-section {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    @include flex-column-center;               
    margin-bottom: 3rem;

    p {
        margin-bottom: 3rem;
    }

    .superchange-item-container {
        display: flex;
    }

    .superchange-item {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        @include flex-column-center;
        margin-left: 3rem;

        img {
            max-width: 4rem;
            margin-bottom: 2rem;
        }

        h3 {
            text-align: center;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        p {
            text-align: center;
            max-width: 30ch;
        }

    }    

}

.client-logos {
    display: flex;
    justify-content: space-around;
    margin-inline: 5rem;
    margin-bottom: 5rem;   
}


.cta-section {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    @include flex-column-center;               
    margin-bottom: 3rem;

    p {
        margin-bottom: 3rem;
        max-width: 65ch;        
    }

    .btn-container {
        display: flex;
        flex-direction: row;
    
        .btn-primary {
            max-width: 15rem;
            padding: 0.8rem 3rem;
            background-color: var(--clr-primary);
            border-radius: 4rem;
            color: white;
            box-shadow: 0 2 0 12px rgba(var(--clr-primary), 0.5);
        }
    
        .btn-secondary {
            max-width: 15rem;
            padding: 0.8rem 3rem;
            background-color: var(--clr-secondary);
            border-radius: 4rem;
            color: white;
            box-shadow: 0 2 0 12px rgba(var(--clr-primary), 0.5);
            margin-left: 1rem;
        }
    
    }

}

.footer-container {
    // display: flex;
    // align-items: center;
    @include flex-row-center;
    justify-content: space-between;
    padding: 5rem 10rem;
    background-color: var(--clr-neutral-bg);

    img {
        max-width: 4rem;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem 3rem;
    }

    .footer-socialmedia {
       
        a {
            margin-left: 1rem;          
        }

    }

}

