
:root {
    --clr-text-link-active: hsl(35, 77%, 62%);
    --clr-bg-btn-primary: hsl(5, 85%, 63%);

    --clr-bg-body: hsl(36, 100%, 99%);
    --clr-text-numbers: hsl(233, 8%, 79%);
    --clr-text-body: hsl(236, 13%, 42%);
    --clr-bg-content: hsl(240, 100%, 5%);
    
    --ff-primary: "Inter", sans-serif;
    --fs-body: 1rem;
    --fs-article-title: 2rem;
    --fs-main-title: 3rem;
    --fw-body: 400;
    --fw-article-title: 700;
    --fw-main-title: 800;

    --space-8: 0.5rem;
    --space-16: 1rem;
    --space-32: 2rem;
    --space-40: 3rem;
    --space-48: 4rem;
    --space-56: 5rem;

}
