html {
    font-size: 16px;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    background-color: var(--clr-bg-body);    
}

b,
strong {
    font-weight: 700;
}

h1 {
    font-size: var(--fs-main-title);
    font-weight: var(--fw-main-title);
}

h2 {
    font-size: var(--fs-article-title);
    font-weight: var(--fw-article-title);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--fw-main-title);
}

p {
    margin: 0 0 0.75rem;
    font-size: var(--fs-body);
    color: var(--clr-text-body);
    line-height: 1.5;
}

a {
    color: var(--clr-text-body);
    text-decoration: none;
    &:focus-visible {
        outline: solid 2px var(--clr-text-body);
    }
    &:hover {
        color: var(--clr-text-link-active);
    }
}

li {
    list-style-type: none;
}

mark {
    background-color: transparent; 
    font-style: normal; 
    text-decoration: none;     
}

button {
    background-color: transparent;
    border: none;
}

