:root {
    /* Font Family */
    --ss-token-font-family-base: "Open Sans", sans-serif;

    /* Font Weights */
    --ss-token-font-weight-regular: 400;
    --ss-token-font-weight-bold: 700;

    /* Line Height Base */
    --ss-token-font-line-height-base: 1.5;

    /* Font Weights */
    /* Font Sizes >> 1rem = 16px*/
    --ss-token-font-size-headline-1: 2.5rem; // 40px;
    --ss-token-font-size-headline-2: 2rem; // 32px;
    --ss-token-font-size-title-1: 1.5rem; // 24px;
    --ss-token-font-size-title-2: 1.125rem; // 18px;
    --ss-token-font-size-body-1: 1rem; // 16px;
    --ss-token-font-size-body-2: 0.875rem; // 14px;
    --ss-token-font-size-caption-1: 0.812rem; // 13px;
    --ss-token-font-size-caption-2: 0.75rem; // 12px;
    --ss-token-font-size-caption-3: 0.6875rem; // 11px;
}
